.fotoLogo{
    height:50px;
}
.menuHeader ul{
    list-style-type: none;
    width: 70vw;
    display: flex;
    justify-content: space-around;

}
.botonNavBar{
    color: white;
}
.nombreBar{
    margin-right: 20px;
}